<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="static/port.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">Yogesh</div>
      <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contacts">Contact</a></li>
      </ul>
    </nav>
    <section class="hero" id="home">
      <h1>Hi,I'm Yogesh Kanna</h1>
       <p class="subtitle">Aspiring Web Developer</p>

      <p class="description">I love building clean, responsive websites using Python Flask, HTML & CSS.</p>

      <a href="#projects" class="btn">View Projects</a>
    </section>
    <section class="projects" id="projects">
      <h2>My Projects</h2>
      <div class="project-list">

        <div class="project-card">
          <h3>Quiz App</h3>
          <p>A Flask-based quiz app using Trivia API. Random questions and score tracking.</p>
          <a href="#" class="btn">View</a>
        </div>

        <div class="project-card">
          <h3>Mood Food Recommender</h3>
          <p>A machine learning app that recommends food based on your mood.</p>
          <a href="#" class="btn">View</a>
        </div>

        <div class="project-card">
        <h3>Text_To_Morse Website</h3>
        <p>This website! Built with Flask, HTML, and CSS. Clean and responsive layout.</p>
        <a href="#" class="btn">View</a>
        </div>
      </div>
    </section>
    <section class="about"id="about">
      <h2>About Me</h2>
      <div class="about-content">
        <p>
          I'm Yogesh, a passionate developer who enjoys building web apps using Python, Flask, HTML, and CSS.
          I’m constantly learning and love solving real-world problems through code.
        </p>
        <ul class="skills">
          <li>Python & Flask</li>
          <li>HTML & CSS</li>
          <li>Java Programming</li>
          <li>MySQL & SQLite</li>
        </ul>
      </div>
    </section>
    <section class="contact" id="contact">
      <h2>Contact Me</h2>
      <form class="contact-form" method="POST" action="/">
        <input type="text" name="r_name" placeholder="Your Name" required>
        <input type="email" name="r_mail" placeholder="Your Email" required>
        <textarea name="message" placeholder="Your Message" rows="5" required></textarea>
        <button type="submit">Send Message</button>
      </form>
    </section>
    <footer class="footer">
    <p>© 2025 Yogesh Kanna. Made Using Flask</p>
  </footer>
  </body>
</html>